//引入清除默认样式
@import './reset.scss';

//滚动条外观设置
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
//
::-webkit-scrollbar-track {
  background-color: white; //滚动条轨道颜色
}
::-webkit-scrollbar-thumb {
  width: 5px; // 定义滚动条滑块的宽度
  background-color: rbg(251, 251, 251); // 定义滚动条滑块的背景颜色
  // background-color: aquamarine;
  border-radius: 5px; // 定义滚动条滑块的圆角半径
}
